@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif, monospace, Georgia, Times, 'Times New Roman', serif;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #0da1f1;
    --main-color: #e95632;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
     color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 0.3 ;
}



.logo {
    position: relative;
    font-size: 4rem;
    color:#1ABC9C;
    font-weight: 600;
}

.navbar {
    position: relative;
}

.navbar a {
    font-size: 1.6rem;
    color:#1ABC9C;
    font-weight: 500;
    margin-left: 3.5rem;
    padding-right: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    
}

.navbar a:hover {
    color: var(--main-color);
}

#menu-icon {
    position: fixed; /*oki*/
    font-size: 5rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}



section {
    min-height: 100vh;
    padding: 10rem 1% 2rem;
}



.home-content {
    max-width: 80rem; /*oki*/
 /*   border: 1px solid;
    border-radius: 2%;   */
}


.home {
    display: flex;
    align-items: center;
    padding: 0 9%;
    
}


.home-content h1 {
    padding-top: 30px;
    position: relative;
    font-size: 5.5rem; /* change here */
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.3;
    color: var(--main-color);
    text-align: center;
}



.home-content .text-head h3 {
    /* change here */
    font-size: 2rem;
    font-weight: 600;
    color: rgb(0, 153, 255);
    background-position: -33rem 0;
    text-align: center;
}


.home-content p {
    position: relative;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 2rem;
    margin: 2rem 0 4rem;
    text-align: justify;
    color: black;
}

.home img{
    padding-left: 3.5rem;
    max-width: 40%;
}




.btn {
    color: var(--main-color);
    background-color: rgb(83, 210, 144);
    border: none;
    padding: 15px 30px;
    font-size: 2rem;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    color: var(--text-color);
    transform: scale(1.25);
}





.container{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    padding-bottom: 2rem;
}



.social{
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    gap: 3rem;
    background-color: rgb(226, 223, 223);
    padding-top: 3rem;
    padding-bottom: 4rem;
}
.social .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

}
.social .content a {
    font-size: 3em;
}

.social .content h2{
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--main-color);
}

.social .content p{
    font-weight: 500;
    font-size: 2rem;
    color: var(--bg-color);
}

.social .content h3{
    font-weight: 500;
    font-size: 2rem;
}

.social .content a {
    
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 30px;
    color: var(--second-bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}


.social .content a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--text-color);
    z-index: -1;
    transition: .5s;
}

.social .content a:hover::before {
    width: 100%;
}

.community{
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    gap: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 8rem;
}

.community .community-site{
    border: 1px solid;
    border-color: 2%;
   height: 40rem;
    background-color: rgb(210, 203, 203);
    max-height: 70rem;
    align-items: center;
    align-content: center;
    
}

.community .site img{
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.community .community-site .button-container{
    padding-top: 6rem;
    padding-left: 15rem;
}
























.process {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height:auto;
    padding-bottom: 2rem;
}

.process h2{
   font-size: 4rem;
   padding-bottom: 2rem;
   color: var(--main-color);
}

.process .process-row {
   display: flex;
   flex-wrap: wrap;
   gap: 2rem;
}

.process-row .process-column {
   flex: 1 1 40rem;
}



.process-column .process-box {
   position: relative;
   border-left: .2rem solid var(--main-color);
}

.process-box .process-content {
   position: relative;
   padding-left: 2rem;
}   

.process-box .process-content::before {
   content: '';
   position: absolute;
   top: 0;
   left: -1.1rem;
   width: 2rem;
   height: 2rem;
   background: var(--main-color);
   border-radius: 50%;
}

.process-content .content {
   position: relative;
   padding: 1.5rem;
   border: .2rem solid var(--main-color);
   border-radius: .6rem;
   margin-bottom: 2rem;
   overflow: hidden;
   color: var(--second-bg-color);
}

.process-content .content:hover {
   color: var(--text-color);
}

.process-content .content:hover::before {
   width: 100%;
}




.process-content .content h3 {
   font-size: 2rem;
}

.process-content .content p {
   font-size: 1.6rem;
   padding-top: .5rem;
}


.data {
   font-size: 1.6rem;
   padding-left: 2rem;
}
